<div class="modal" tabindex="-1" id="shotsFiredModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Nytt skott</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            
            <label for="animalType">Kaliber</label>
            <input type="text" class="form-control" id="animalType" placeholder="Kaliber…" name="animalType">

            <label for="killshot">
                <input type="checkbox" name="killshot">
                Dödande skott
            </label>
            <br />
            <label for="animalType">Djurtyp</label>
            <input type="text" class="form-control" id="animalType" placeholder="Vilket djur?" name="animalType">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Lägg till</button>
        </div>
        </div>
    </div>
</div>