<div class="container">
<form action="/add_session" method="POST" id="addSessionForm" enctype="multipart/form-data">
        
    <div class="form-group">
        <label for="location">Plats</label>
        <input type="text" class="form-control form-control-lg required" id="location" name="location" placeholder="Plats…" required>
    </div>

    <div class="row">

        <div class="form-group col-12">
            <label for="duration">Duration</label>
            <input type="text" class="form-control form-control-lg required" id="duration" placeholder="Längd (timmar, minuter)" name="duration" required>
        
            <label for="distance">Antal km</label>
            <input type="text" class="form-control form-control-lg" id="distance" placeholder="Distans (km)…" name="distance" required>
        </div>
    
    </div>
    
    <div class="row">
        
        <div class="form-group col-12">        
            <label for="shotsFired">Antal skott avlossade</label>
            <input type="text" class="form-control form-control-lg" id="shotsFired" placeholder="Antal skott avlossade…" name="shotsFired" required>
     
            <label for="kills">Byte</label>
            <input type="text" class="form-control form-control-lg" id="kills" placeholder="Fällt byte…" name="kills" required>
        </div>
    
    </div>

    <div class="row">
        
        <div id="killTypesContainer" class="form-group col-12 initially-hidden">        
        </div>
    
    </div>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#shotsFiredModal">
        Lägg till skott
    </button>

    {{> shotfiredmodal}}

    <div class="row">
    
        <div class="form-group col-12">
            <select name="weaponModelUsed" class="form-control  form-control-lg" id="weaponModelUsed">

                {{#each weapons}}
                    <option value="{{this.id}}">{{this.model}} ({{this.type}})</option>
                {{/each}}

            </select>
        </div>
    </div>

    <div class="form-group">        
        <textarea class="form-control" id="commentText" name="commentText" rows="3" placeholder="Några kommentarer?"></textarea>
    </div>
    
    <label class="btn btn-default btn-file">
        <span id="fileName"></span>
        Add photo 
        <input type="file" name="imageFile" id="imageFile" style="display: none;">
    </label>

    <!-- Metadata -->
    <input type="text" id="timestamp" value="{{data.timestamp}}" name="timestamp">
    <!-- End metadata -->

    <button type="submit" class="btn btn-primary">Submit</button>

</form>
</div>