<div class="stat-card-container">

    {{#each data}}
        {{> card}}
    {{/each}}

</div>

<div class="comment" style="background-image: url({{random.image}})">
    <blockquote>"{{random.comment}}"
        <span class="date">{{random.location}}, {{random.date}}</span>
    </blockquote>
</div>