// Green
@color-black: #000000;
@color-blue: #0c569b;
@color-crayola: #26a96c;
@color-deep-space: #395e66;
@color-emerald: #32936f;
@color-evening: #4a4a4a;
@color-forest: #417505;
@color-kelly: #2bc016;
@color-ming: #387d7a;
@color-night: #3e3e3e;
@color-sky: #27547d;
@color-white: #ffffff;